

{% include 'public_header.html'%}

    <title>Login Form</title>







    
	
	</style>
</head>
<form method="POST">
    {% csrf_token %}

    <!-- Start Banner Hero -->
    <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h2 class="h2 py-5 text-primary typo-space-line">LOGIN</h2>
                    <input  type="text" id="email" placeholder="EMAIL" name="username" class="form-control" style="width:400px"><br>
                    <input type="password" id="password" placeholder="PASSWORD" class="form-control" name="password" style="width:400px"><br>
                    <button class="btn btn-success" id="login-btn"> <b>LOGIN</b></button><br><br>
                    <p class="forgot-password"><a href="/forgot_password">Forgot Password?</a></p><br>
                 <p class="light-300">
                
                        {% comment %} Vector illustration credit goes to <a rel="nofollow" href="http://freepik.com/" target="_blank">FreePik</a> website. Purple Buzz is provided by TemplateMo. Lorem ipsum dolor sit amet, consectetur. {% endcomment %}
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="/static/assets1/img/work.svg">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->
  
                




  
            
                    {% comment %} <div class="input-container">
                        <input type="text" placeholder="EMAIL" name="username"><br>
                        <input type="password" placeholder="PASSWORD" name="password"><br>
                        <button><b>LOGIN</b></button><br><br>
                        <p class="forgot-password"><a href="">Forgot Password?</a></p><br> {% endcomment %}
                        
                        {% comment %} <p class="signup">Don't have an account? <a href="{% url 'register_user' %}">Register</a></p><br> {% endcomment %}
                        {% comment %} <button class="google-login-button"><b>CONTINUE WITH GOOGLE</b></button> {% endcomment %}
                        
      
</form>

<!-- End Choice -->
    {% include 'footer.html'%}
